<!DOCTYPE html>
<html>

<head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Users</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>email</th>
                <th>city</th>
                <th>zip code</th>
                <th>latitude</th>
                <th>longitude</th>
                <th>website</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.address.city %></td>
                    <td><%= user.address.zipcode %></td>
                    <td><%= user.address.geo.lat %></td>
                    <td><%= user.address.geo.lng %></td>
                    <td><%= user.website %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>

</html>